<div class="container">
  <!-- Navigation bar-->
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">OxTwi</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="#" ng-click="homeActive = ''">Home <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#">Maps</a></li>
          <li><a href="#">Graphs</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <div class="jumbotron">
    <h1>Welcome to our website!</h1> 
    <p>This is our project on Big Data: The case of Twitter.</p>
    <input type="range"/ min="0" max="12" ng-model="count">
    {{count}} 
  </div><!-- /jumbotron -->
  <div class="row">
    <div class="col-sm-8 map">
      <div class="panel panel-custom panel-noPadding">
        <div class="panel-heading">
          <h3 class="panel-title">Map</h3>
        </div><!-- /panel-heading-->
          <div class="panel-body">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" bounds="map.bounds" options="options">
              <ui-gmap-markers models="randomMarkers" coords="'self'" icon="'icon'"></ui-gmap-markers>
            </ui-gmap-google-map>
          </div><!-- /panel-body-->
        </div><!-- /panel-->
      <div ng-show="showChart" class="ng-hide">
        <div class="panel panel-custom panel-noPadding">
          <div class="panel-heading">
            <h3 class="panel-title">Word cloud</h3>
          </div><!-- /panel-heading-->
          <div class="panel-body">
            <div id="cloud"></div> 
          </div><!-- /panel-body-->
        </div><!-- /panel-->
      </div>
    </div><!-- /col-->
    <div class="col-sm-4">
      <div ng-show="showChart" class="ng-hide">
        <div class="panel panel-custom panel-noPadding">
          <div class="panel-heading">
            <h3 class="panel-title">Pie Chart</h3>
          </div><!-- /panel-heading-->
          <div class="panel-body">
            <div id="chart_div"></div>
          </div><!-- /panel-body-->
        </div><!-- /panel-->
      </div>
        <div class="panel panel-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Just some text</h3>
          </div><!-- /panel-heading-->
          <div class="panel-body">
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <div class="btn-group" role="group" aria-label="...">
              <button class= "btn btn-primary" ng-click="addMarker0()">Add Marker</button>
              <button class= "btn btn-primary" ng-click="removeMarker0()">Remove Marker</button>
              <button  class= "btn btn-primary" ng-click="getBounds()">Bounds</button>
              <a class= "btn btn-primary" href="#" ng-click="goCats = !goCats">Toggle Cats</a>
            </div>
            
            <img ng-src="http://i.imgur.com/vkW3Lhe.jpg" ng-show="goCats">
          </div><!-- /panel-body-->
        </div><!-- /panel-->
    </div><!-- /col-->
  </div><!-- /row-->
</div><!-- /container-->