<!DOCTYPE html>
<html>
  <head>
    <title>OxTwi</title>
    <meta charset="utf-8"> 
    <!-- To assure that the page scale correctly.-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="APIs/bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!-- Latest compiled and minified JavaScript for Bootstrap-->
    <!-- <script src="APIs/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script> -->

    <!--My style-->
    <link rel="stylesheet" type="text/css" href="stylesheets/Maps.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/Graphs.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/CustomBootstrap.css">
    <!--Google maps API.-->
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkTNanNXkad_od5dl2cRuW3Yqsvad0nBc">
    </script>
    
    <!--Angular API.-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="APIs/ui-bootstrap-tpls-0.13.0.min.js"></script>
    <script src="APIs/lodash/dist/lodash.compat.js"></script>
    <script src="APIs/ng-map.js"></script>

    <!--D3-->
    <script src="APIs/d3/d3.js"></script>
    <script src="APIs/d3.layout.cloud.js"></script>

    <!--Google charts API.-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="javascripts/angularApp.js"></script>
    <script type="text/javascript" src="javascripts/angularMap.js"></script>
    <script type="text/javascript" src="javascripts/angularTimeline.js"></script>
    <script type="text/javascript" src="javascripts/angularGeoChart.js"></script>
    <script type="text/javascript" src="javascripts/angularWordCloud.js"></script>
  </head>
  <body>

    <div class="navigation"></div>

    <ui-view></ui-view>
    <div ng-controller= "MenuCtrl">

      <!-- initial darkening -->
      <div ng-hide="brighten">
        <div class="darkness">
        </div>
        <div class="selection">
          <button type="button" class="topicBtn" ng-repeat="topic in products.topics" ng-click="selecTopic($index)">{{topic}}</button>
        </div>
      </div>



      <button type="button" class="OxTwi">OxTwi</button>
      <!-- left navigation -->
      <div class="leftStuff">
        <a       href="#/map"
        ><button type="button"
                 class="{{menu.map.state}}"
                 ng-click="setActive(menu.map)">Map</button></a
        ><a      href="#/timeline/0"
        ><button type="button"
                 class="{{menu.timeline.state}}"
                 ng-click="setActive(menu.timeline)">Timeline</button></a
        ><a      href="#/geochart/0"
        ><button type="button"
                 class="{{menu.geochart.state}}"
                 ng-click="setActive(menu.geochart)">GeoChart</button></a
        ><a      href="#/wordcloud/0"
        ><button type="button"
                 class="{{menu.wordcloud.state}}"
                 ng-click="setActive(menu.wordcloud)">Word Cloud</button></a
        >
      </div>



      <!-- aligned centre -->
      <div class="seleption" ng-show="brighten" ng-mouseleave="hideAll()">
        <form ng-submit="submitSearch()" ng-show="searchFocus || optionsViewIsT">
          <input type="text" class="searchBox" ng-model="searchText" ng-focus="getToTyping()" ng-blur="finishTyping()">
        </form>
        <button type="button" class="topicBtnSelected" ng-mouseenter="showOptions()" ng-show="optionsHidden && !(searchFocus)">{{products.currentTopic}}</button>
        <div ng-hide="optionsHidden || searchFocus">
          <div ng-hide="optionsViewIsT">
            <button type="button" class="topicBtn" ng-click="toggleTopiClasses()">{{products.currentTopicClass}}</button>
            <div ng-repeat="topicOption in products.currentTopicOptions">
              <button type="button" class="seleoptiBtn" ng-if="$index != products.currentOptionIndex" ng-click="selectOption($index)" >{{topicOption}}</button>
              <button type="button" class="selecedOptiBtn" ng-if="$index == products.currentOptionIndex">{{topicOption}}</button>
            </div>
          </div>
          <div ng-show="optionsViewIsT">
            <button type="button" class="topicBtn" ng-repeat="topic in products.topics" ng-click="selecTopic($index)">{{topic}}</button>
          </div>
        </div>
      </div>

      <!-- right navigation -->
      <div class="demSent">
        <button          type="button" class="demSentBtn"         ng-hide="products.showDemand"    ng-click="makeDemand()">Demand
        </button><button type="button" class="demSentBtnSelected" ng-show="products.showDemand">Demand
        </button><button type="button" class="demSentBtn"         ng-hide="products.showSentiment" ng-click="makeSentiment()">Sentiment
        </button><button type="button" class="demSentBtnSelected" ng-show="products.showSentiment">Sentiment
        </button>
        <div class="slider"><input type="range" min="{{products.slider.min}}" max="{{products.slider.max}}" 
              step="{{products.slider.step}}" ng-model="products.slider.value"></div>
        <div class="sliderValue">{{products.slider.value}}</div>
      </div>



    </div>
  </body>
</html>
